version: '3'

services:
  mariadb:
    image: mariadb
    container_name: mariadb
    build: ./requirements/mariadb/
    volumes:
      - mariadb:/var/lib/mysql/
    networks:
      - inception
    env_file:
      - .env
    restart: always
  wordpress:
    image: wordpress
    container_name: wordpress
    build: ./requirements/wordpress/
    volumes:
      - wordpress:/var/www/html/wordpress/
    networks:
      - inception
    depends_on:
      - mariadb
    env_file:
      - .env
    restart: always
  nginx:
    image: nginx
    container_name: nginx
    build: ./requirements/nginx/
    ports:
      - 443:443
    volumes:
      - wordpress:/var/www/html/wordpress/
    networks:
      - inception
    depends_on:
      - wordpress
    restart: always

volumes:
  mariadb:
    driver_opts:
      type: none
      o: bind
      device: /home/omanar/data/mariadb/
  wordpress:
    driver_opts:
      type: none
      o: bind
      device: /home/omanar/data/wordpress/

networks:
  inception:
